<div class="buttons" style="text-align:center;">
  <%= render 'shared/dashboard_display_number_hubs' %>
</div>

<div class="task-index-container" style="margin-bottom: 200px">

    <%= link_to event_path(Event.find_by(name: "Flood in Copenhagen")) do  %>
      <div class="btn btn-medium">Dashboard</div>
    <% end %>

    <div
      id="map"
      style="width: 542px;
      height: 450px; margin-left: 71px; margin-top: 50px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>


  <div class="task-index-task-progress">
    <div class="lists-in-progress">
      <div class="list-card-in-progress" style="margin-left: 0px; width: 250px;">
        <div class="list-in-progress-card-header">In progress</div>
        <ul>
          <% @in_progress_tasks.each do |in_progress_task| %>
            <li id="task-<%= in_progress_task.id %>">
              <%= link_to event_task_path(in_progress_task.event_id, in_progress_task) do %>
                <%= in_progress_task.name %>
                <%= link_to mark_task_done_path(in_progress_task), method: :patch, remote: true, id: "mark-icon-#{in_progress_task.id}" do %>
                  <i class="fas fa-check-circle"></i>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
         <div class="list-in-progress-card-footer">
          <%= link_to '#' do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      </div>
     </div>
  </div>
<div class="task-index-task-done">
  <div class="lists">
    <div class="list-card"  style="margin-left: 0px;">
      <div class="list-card-header">Done</div>
      <ul id="done-list">
        <%  @done_tasks.each do |done_task| %>
          <li>
            <%= link_to event_task_path(done_task.event_id, done_task) do %>
              <%= done_task.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
       <div class="volunteer-list-card-footer">
        <%= link_to '#' do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
   </div>
  </div>
</div>

