<div class="buttons" style="text-align:center;">
  <%= render 'shared/dashboard_display_number_tasks' %>
</div>

<div class="task-show-container" style="margin-top: 30px;">
    <%= link_to event_path(Event.find_by(name: "Flood in Copenhagen")) do  %>
    <div class="btn btn-medium">Dashboard</div>
 <% end %>
  <div class="task-show-volunteer-list">

   <%= render 'shared/volunteer_list' %>

  </div>

  <div class="task-show-info-map-box">

    <div class="task-show-info-card">
      <div class="task-show-card-header"><%= @task.name %></div>
      <div class="task-show-card-body">
        <ul>
           <li>
            <i class="fas fa-battery-half task-show-card-icons"></i>
            <div class="task-show-card-text status"><%= @task.status %> </div>
          </li>
          <li>
            <i class="fas fa-hourglass-half task-show-card-icons"></i>
            <div class="task-show-card-text urgency"><%= @task.urgency.name %> </div>
          </li>
          <li>
            <i class="fas fa-map task-show-card-icons location"></i>
            <div class="task-show-card-text"><%= @task.location.name %> </div>
          </li>
          <li>
            <i class="fas fa-file-alt task-show-card-icons"></i>
            <div class="task-show-card-description"> <%= @task.description %> </div>
          </li>
        </ul>
      </div>
    </div>
      <div class="task-show-map-card">
        <div
          id="map"
          style="width: 100%;
          height: 100%; margin-left: 0px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>

      </div>
  </div>
</div>



