<div class="buttons" style="text-align:center;">
  <%= render 'shared/dashboard_display_number' %>
</div>

<div class="task-show-container">
  <div class="task-show-volunteer-list">

   <%= render 'shared/volunteer_list' %>

  </div>

  <div class="task-show-info-map-box">

    <div class="task-show-info-card">
      <div class="task-show-card-header"><%= @task.name %></div>
      <div class="task-show-card-body">
        <ul>
           <li class="">
            <i class="fas fa-battery-half task-show-card-icons"></i>
            <div class="task-show-card-text status"><%= @task.status %> </div>
          </li>
          <li class="">
            <i class="fas fa-hourglass-half task-show-card-icons"></i>
            <div class="task-show-card-text urgency"><%= @task.urgency.name %> </div>
          </li>
          <li class="">
            <i class="fas fa-map task-show-card-icons location"></i>
            <div class="task-show-card-text"><%= @task.location.name %> </div>
          </li>
          <li class="">
            <i class="fas fa-file-alt task-show-card-icons"></i>
            <div class="task-show-card-description"> <%= @task.description %> </div>
          </li>
        </ul>
      </div>
    </div>
      <div class="task-show-map-card">

      </div>
  </div>
</div>



