<div class="form-group">
  <div class="form-task">
    <%= simple_form_for([@event,@task]) do |f| %>
      <%= f.input :name, placeholder: "name", input_html: { autocomplete: 'off' } %>
      <%= f.input :status, collection: Task::STATUS %>
      <%= f.input :description, placeholder: "Description" %>
      <%= f.input :location, as: "string", input_html: { autocomplete: 'off' } %>
      <div class="form-group">
        <input type="hidden" name="task[urgency_id][]" value="">
        <div class="urgency-choices">
          <% Urgency.all.each do |urgency| %>
            <input  class="hidden" type="checkbox" value="<%= urgency.id %>" name="task[urgency_id]" id="task_urgency_id_<%= urgency.id %>">
            <label class="urgency-choice" for="task_urgency_id_<%= urgency.id %>">
              <%= urgency.name %>
              <i class="fa fa-check"></i>
            </label>
          <% end %>
        </div>
      </div>
      <%= f.submit class: "btn btn-primary"%>
    <% end %>
  </div>
</div>





