<div class="intro-display-widget">
   <div class="card-display">
     <div class="face"> </img> </div>
      <div class="details">
         <h4 class="name"> <%= volunteer.user.first_name %> <%= volunteer.user.last_name %> </h4>
         <ul>
            <li> <i class="fi-torso"> </i> <%= volunteer.user.profession%> </li>
            <li> <i class="fas fa-at"></i><%= volunteer.user.email%></li>
            <li> <i class="fas fa-mobile-alt"></i> <%= volunteer.user.phone%> </li>
         </ul>
      </div>
   </div>
   <div class="desc">
      A young front end geek interested in modern yet open web technologies. Passionate about humanizing products. HCI Practitioner. SASS Lover. Internet of things.
   </div>
</div>
