<div class="volunteer-lists">
  <div class="volunteer-list-card">
    <div class="volunteer-list-card-header">Volunteers</div>
      <ul>
        <% @volunteers.each do |volunteer| %>
          <li class="list-inline flex-body">
            <div class="avatar-profile"><i class="<%= volunteer.icon %>"></i></div>
            <div class="flex-text"><%= volunteer.user.first_name %> <%= volunteer.user.last_name %></div>
            <% if @task.has_volunteer?(volunteer.user) %>
              <div><i class="fas fa-check-circle assign"></i></div>
            <% else %>
              <%= link_to assign_task_path(@task,volunteer.user), method: :post, remote: true, id: "user-#{volunteer.user.id}" do %>
                <div> <i class="fas fa-plus-circle plus"></i></div>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <div class="volunteer-list-card-footer">
      <%= link_to '#' do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  </div>
</div>

