
<div class="buttons" style="text-align:center;">
  <%= render 'shared/dashboard_display_number_hubs' %>
</div>

<div class="wrapper">
   <%= link_to event_path(Event.find_by(name: "Flood in Copenhagen")) do  %>
    <div class="btn btn-medium">Dashboard</div>
 <% end %>
    <h3 style="margin-left: 71px; color: rgba(20,20,20,1);">Flood in Copenhagen. Nearby <span style="color: #C54D49">hubs</span>:</h3>
    <div class="grid">
    <div
        id="map"
        style="width: 835px;
        height: 500px; margin-left: 71px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

 <div class="card"> <%= render 'shared/hub_list_card' %> </div>

</div>


</div>
