<!-- <div id="dark_wrap">
  <div class="sp-container">
    <div class="sp-content">
      <div class="sp-globe"></div>
      <h2 class="frame-1">When Disaster Strikes</h2>
      <h2 class="frame-2">You Are Not Alone</h2>
      <h2 class="frame-3">Keep Calm</h2>
      <h2 class="frame-4">Get Organized</h2>
      <h2 class="frame-5">
        <span>We are</span>
        <span>Helping</span>
        <span>Hands</span>
      </h2>
     <a class="sp-circle-link" href="https://nick.mkrtchyan.ga">by Nick</a> -->
    </div>
  </div>
</div>
<!--     <div
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
 -->
    <!-- <ul class="event-list"> -->
    <!-- <h3>Search for an event by city: </h3> -->
      <!-- <h2>Events:</h2> -->
      <!-- <% @events.each do |event| %> -->
        <!-- <li class="list-inline-item"> -->
          <!-- <%= link_to event_path(event) do %> -->
            <!-- <%= event.location.name %> | <%= event.name %> -->
          <!-- <%end%> -->
        <!-- </li> -->
      <!-- <%end%> -->
    <!-- </ul> -->
  </div>
</div>
