
<div class="blk-background">
  <div class="banner-wrapper">
    <%= render "shared/banner" %>
  </div>
  <div class="home-container">
    <div class="main-header">
      <h1>Helping Hands</h1>
      <h3>Bringing Order to Disaster</h3>
    </div>

    <div
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>




    <ul class="event-list">
    <h3>Search for an event by city: </h3>
      <h2>Events:</h2>
      <% @events.each do |event| %>
        <li class="list-inline-item">
          <%= link_to event_path(event) do %>
            <%= event.location.name %> | <%= event.name %>
          <%end%>
        </li>
      <%end%>
    </ul>
  </div>
</div>
