<!--
<div class="blk-background">
  <div class="home-container">
    <div class="main-header">

      <h3>Bringing Order to Disaster</h3>
      <h3>Choose a city: Find a volunteer opportunity</h3>

    </div>
  </div> -->

<div class="banner-wrapper">
  <div class="text-center" style="background-image: url('http://www.pngall.com/wp-content/uploads/1/World-Map-PNG-Image-File.png'); height: 100vh; width: 100%; background-size: cover; background-position:sticky; background-repeat:no-repeat;" >
  <p class="text-center text-white">HELPING HANDS</p>
  <p class="text-center little-white-text" style="color: rgba(10,10,10,1); font-size: 16px;background-color: white; padding: 6px 20px; font-weight: lighter; margin:0 auto; width: 20%; margin-top: -20px; margin-bottom: 20px;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);">More hands. More help.</p>
  <button class="disaster-button">Join a Relief Team</button>
  <div class="marker1">
    <img src="https://www.employersresource.com/wp-content/uploads/2016/04/map-marker-icon.png" alt="" style="height: 40px;">
    <div class="pulse" data-status="running">
    </div>
  </div>
  <div class="marker2">
    <img src="https://www.employersresource.com/wp-content/uploads/2016/04/map-marker-icon.png" alt="" style="height: 45px;">
    <div class="pulse" data-status="running">
    </div>
  </div>
  <div class="marker3">
    <img src="https://www.employersresource.com/wp-content/uploads/2016/04/map-marker-icon.png" alt="" style="height: 40px;">
    <div class="pulse" data-status="running">
    </div>
  </div>
  <div class="marker4">
    <img src="https://www.employersresource.com/wp-content/uploads/2016/04/map-marker-icon.png" alt="" style="height: 35px;">
    <div class="pulse" data-status="running">
    </div>
  </div>
</div>
</div>

<script>
  $(document).ready(function (){
      $(".disaster-button").click(function (){
          $('html, body').animate({
              scrollTop: $(".learn-more-button").offset().top
          }, 500);
      });
  });
</script>


<div class="first-about">
  <div class="about-image">
    <%= image_tag "https://images.unsplash.com/photo-1491911923017-19f90d8d7f83?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3cc7089a74adc81a8c1198e3286654ea&auto=format&fit=crop&w=800&q=60" %>
  </div>
  <div class="about-text text-center">
    <div class="one">Teamwork.</div>
    <div class="two">Volunteers.</div>
    <div class="three">Helping hand<span>.</span></div>
  </div>
</div>

<div class="second-about">
  <div class="about-text text-center">
    <div class="one">Resources.</div>
    <div class="two">Coordinators.</div>
    <div class="three">Support<span>.</span></div>
  </div>
  <div class="about-image">
    <%= image_tag "https://images.unsplash.com/photo-1493064452371-27cc07818a0f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07dfc1dfb8f8cd035756f39ab9334c40&auto=format&fit=crop&w=800&q=60" %>
  </div>
</div>

<div class="text-center" style="position: relative;">
  <img src="https://images.unsplash.com/photo-1542187251986-301fc9fd4af2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=470082939907e648cc63bc40e413b611&auto=format&fit=crop&w=1050&q=80" alt="" style="width: 100%; height: 60vh; object-fit: cover;">

    <div class="helping-list text-center">
      <div class="text">
        <div class="helping-element">
          <p class="header">Safety.</p>
          <p>Trust and safety is a must have when helping people in need. Join the team as a volunteer and start helping others today.</p>
        </div>
        <div class="helping-element">
          <p class="header">Simplicity.</p>
          <p>The app is easy and simple to use. Just join as a volunteer and a coordinater will do the rest for you</p>
        </div>
        <div class="helping-element">
          <p class="header">Scalability.</p>
          <p>Helping hands works for both smaller issues and large disaster events. Everything is secured and controlled </p>
        </div>
      </div>
      <div class="learn-more-button">
        Learn more
      </div>
    </div>

</div>

<p class="disaster-event-header text-center"><span>Urgent</span> disaster events near you:</p>
<hr>
<div class="container">
  <div class="parent">
      <div class="child">
        <article class="card">
          <div class="thumb" style="background: url(<%= asset_path 'aarhus_storm.jpeg' %>);"></div>
          <div class="infos">
            <h2 class="title">Aarhus<span class="flag" style="background: url(<%= asset_path 'dk_flag.png' %>);"></span></h2>
            <h3 class="date">Hurricane</h3>
            <h3 class="seats">volunteers needed: 4</h3>
            <p class="txt">
              After major flooding, the local Danes need help...
            </p>
            <h3 class="details">Join This Team</h3>
          </div>
        </article>
    </div>
      <div class="child">
        <article class="card">
          <div class="thumb" style="background: url(<%= asset_path 'taxi_cphflood.jpg' %>);"></div>

          <%= link_to event_path(Event.find_by(name: "Flood in Copenhagen")) do  %>
            <div class="infos">
              <h2 class="title">Copenhagen<span class="flag" style="background: url(<%= asset_path 'dk_flag.png' %>);"></span></h2>
              <h3 class="date">Major Flood</h3>
              <h3 class="seats">volunteers needed: 4</h3>
              <p class="txt">
                After major flooding, the local Danes need help...
              </p>
              <h3 class="details" a href="/events/22">Join This Team</h3>
            </div>
          <% end %>

        </article>
    </div>
      <div class="child">
        <article class="card">
          <div class="thumb" style="background: url(<%= asset_path 'gdansk_snow.jpeg' %>);"></div>
          <div class="infos">
            <h2 class="title">Gdansk<span class="flag" style="background: url(<%= asset_path 'pl_flag.png' %>);"></span></h2>
            <h3 class="date">Hail Storm</h3>
            <h3 class="seats">volunteers needed: 4</h3>
            <p class="txt">
              After major flooding, the local Danes need help...
            </p>
            <h3 class="details">Join This Team</h3>
          </div>
        </article>
    </div>
  </div>
  <div class="parent">
      <div class="child">
        <article class="card">
          <div class="thumb" style="background: url(<%= asset_path 'finland_fire.jpeg' %>);"></div>
          <div class="infos">
            <h2 class="title">Helsinki<span class="flag" style="background: url(<%= asset_path 'fi_flag.png' %>);"></span></h2>
            <h3 class="date">Forest Fire</h3>
            <h3 class="seats">volunteers needed: 4</h3>
            <p class="txt">
              After major flooding, the local Danes need help...
            </p>
            <h3 class="details">Join This Team</h3>
          </div>
        </article>
    </div>
      <div class="child">
        <article class="card">
          <div class="thumb" style="background: url(<%= asset_path 'tornado_sv.jpg' %>);"></div>
          <div class="infos">
            <h2 class="title">Malmo<span class="flag" style="background: url(<%= asset_path 'sv_flag.png' %>);"></span></h2>
            <h3 class="date">Tornado</h3>
            <h3 class="seats">volunteers needed: 4</h3>
            <p class="txt">
              After major flooding, the local Danes need help...
            </p>
            <h3 class="details">Join This Team</h3>
          </div>
        </article>
    </div>
      <div class="child">
        <article class="card">
          <div class="thumb" style="background: url(<%= asset_path 'stockholm_blizzard.jpg' %>);"></div>

          <div class="infos">
            <h2 class="title">Stockholm<span class="flag" style="background: url(<%= asset_path 'sv_flag.png' %>);"></span></h2>
            <h3 class="date">Blizzard</h3>
            <h3 class="seats">volunteers needed: 4</h3>
            <p class="txt">
              After major flooding, the local Danes need help...
            </p>
            <h3 class="details">Join This Team</h3>
          </div>
        </article>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright"> Organize your help <i class="fas fa-hand-holding-heart"></i> with Helping Hands
  </div>
</div>

