
<div class="container blk-background">
  <div class="banner-wrapper">
    <%= render "shared/banner" %>
  </div>

  <div>
    <h1>Helping Hands</h1>
    <h3>Bringing Order to Disaster</h3>
  </div>

  <div
    id="map"
    style="width: 100%;
    height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>


  <h3>Search for an event by city: </h3>

  <p>Pages#home</p>
  <p>Find me in app/views/pages/home.html.erb</p>

  <%#= render "shared/search" %>

  <ul>
    <h2>Events:</h2>
    <% @events.each do |event| %>
      <li>
        <%= link_to event_path(event) do %>
          <%= event.location.name %> | <%= event.name %>
        <%end%>
      </li>
    <%end%>
  </ul>

</div>
